.global-container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	line-height: normal;
	background: rgb(35, 35, 45);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.global-label {
	color: rgb(255, 255, 255);
	font-size: 1rem;
}

.global-content {
	font-size: 1.5rem;
	font-weight: 600;
	color: rgb(230, 0, 0);	
}
