.main-container {
  padding: 20px;
  background: #000;
}

.main {
  display: grid;
  grid-template-areas: 
  "g m da"
  "s m da"
  "c m da"
  "c m da"
  "c m di"
  "c m di"
  "c m di"
  "c m di";
  grid-template-columns: 20% 50% 30%;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  width: 100%;
  max-width: 1400px;
  height: 80vh;
  margin: 0 auto;
}

.global-container {
  grid-area: g;
}

.search-container {
  grid-area: s;
}
.countries-container {
  grid-area: c;
}
.map-container {
  grid-area: m;
}
.data-container {
  grid-area: da;
}
.diagram-container {
  grid-area: di;
}