.search-container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}
.search-box {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.search-input {
	width: 85%;
	height: 100%;
	padding: 1%;
	padding-left: 40px;
	font-size: 1.05rem;
	outline: none;
	border-radius: 5px 0 0 5px;
	border: 1px solid #fff;
}
.search-submit {
	width: 30%;
	height: 100%;
	border-radius: 0 5px 5px 0;
	background: #2A0F5E;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 0.8rem;
	font-weight: 600;
}
